html,
body{
  height: 100%;
}

body{
  font-size: 16px;
  line-height: 26px;
  @extend %quicksand-500;
  color: $default;
  display: flex;
  flex-direction: column;
}

.main{
  flex-grow: 1;
}

.container{
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 15px;
}

a{
  font-size: 16px;
  line-height: 26px;
  @extend %quicksand-500;
  color: $default;
  text-decoration: none;
}

.title{
  @extend %roboto-700;
  font-size: 48px;
  line-height: 1;
  color: $title;
  text-transform: uppercase;
  text-align: center;
}

.subtitle{
  @extend %quicksand-400;
  max-width: 570px;
  text-align: center;
  margin: 25px auto 55px;
}